/*头部-顶部*/
.navigator .header .top{
	width: auto;
	background-color: #f2f2f2;

}
.navigator .header .top .topWrap{
	width: 1200px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadada;
    z-index: 5;
	position: relative;
	height: 30px;
	margin:auto;
	margin-bottom: 30px;
}
.navigator .header .top .topWrap .consumerInfo{
	float: left;
    line-height: 30px;
    color: #666;
    font-size: 12px;
}
.navigator .header .top .topWrap .loginBar{
	position: absolute;
    right: 40px;
    list-style-type: none;
    line-height: 32px;
    font-size: 12px;
}
.navigator .header .top .topWrap .loginBar li{
	float: left;
	color: #666;
	margin: 5px 0 0 10px;
	border-right:1px solid #666;
	text-align: center;
	padding-right: 10px;
	height: 20px;
	line-height: 20px;
}
.navigator .header .top .topWrap .loginBar li:not(.tel) a:hover{
	text-decoration: underline;
	color:red;
}
.navigator .header .top .topWrap .loginBar .tel img{
	float: left;
}
.navigator .header .top .topWrap .loginBar .tel a{
	float: left;
	display: inline-block;
}
.navigator .header .top .topWrap .loginBar .download{
	border:0;
}
/*头部-登陆和注册*/
.navigator .header .loginRegisterWrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}
.navigator .header .loginRegisterWrap .mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
.navigator .header .loginRegisterWrap .loginRegisterInner{
    width: 450px;
    height: 480px;
    margin: -235px 0 0 -235px;
    position: fixed;
    padding: 20px 30px;
    border: 2px solid #5C5C5C;
    background: #fff;
    z-index: 202;
    top: 50%;
    left: 50%;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel h2{
    line-height: 30px;
    border-left: 3px solid #7d589d;
    font-size: 16px;
    font-weight: 400;
    text-indent: 10px;
    margin-bottom: 24px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .close{
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/header/close.png');
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .panelTab{
    width: 282px;
    border-bottom: 1px solid #7d589d;
    padding: 0 36px;
    margin: 0 auto;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .panelTab span{
    display: block;
    float: left;
    height: 28px;
    width: 70px;
    text-align: center;
    font-size: 16px;
    margin: 0 36px 0 32px;
    cursor: pointer;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .panelTab .active{
    background-image: url('../images/header/arrow.png');
    background-position: 0 18px;
    background-repeat: no-repeat;
}
/*提示*/
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm .telHint{
    color:red;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 18px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm .pwdHint{
    color:red;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 30px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm .verifyHint{
    color:red;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 6px;
}
/*登陆*/
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm {
    margin: 40px 0 0 30px;
    width: 100%;
    font-size: 15px;
    display: none;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm div,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm div{
    margin-bottom: 20px;
    position: relative;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm div .iconBox,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm div .iconBox{
    width: 40px;
    height: 38px;
    display: inline-block;
    top: 1px;
    left: 1px;
    border-right: solid 1px #ccc;
    position: absolute;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm div .iconBox span,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm div .iconBox span{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 19px;
    margin: 10px 0 0 10px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm .username .iconBox span,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm .username .iconBox span{
    background: url('../images/header/iconLogin.png') -29px 0 no-repeat;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm .password .iconBox span,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm .password .iconBox span,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm .passwordRepeat .iconBox span{
    background: url('../images/header/iconLogin.png') -29px -27px no-repeat;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm .verify .iconBox span,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm .verify .iconBox span{
    background: url('../images/header/iconLogin.png') -29px -56px no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 23px;
    margin: 8px 0 0 10px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .loginForm div input,
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm div input{
    width: 265px;
    height: 36px;
    padding-left: 55px;
    line-height: 40px;
    border: 1px solid #ccc;
}
#verifyLogin,
#verifyRegister{
    width: 145px;
    margin-right: 16px;
}
.loginPass{
    background: #e14958;
}
#submitLogin{   
    width: 320px;
    height: 40px;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    float: right;
    color: #fff;
    padding: 0;
    border: none;
    display: inline-block;
    overflow: visible;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
}
/*注册*/
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm{
    display: none;
    margin: 40px 0 0 30px;
    width: 320px;
    font-size: 15px;
}
#submitRegister{
    width: 320px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    padding: 0;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm .registerAgreement{
    font-size: 12px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm .registerAgreement input{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .registerForm .registerAgreement a{
    color: #00F;
}
/*注册协议*/
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .detailBox{
    margin-left: -300px;
    margin-top: -200px;
    width: 600px;
    height: 400px;
    margin: -222px 0 0 -300px;
    position: fixed;
    padding: 20px 30px;
    border: 2px solid #5C5C5C;
    background: #fff;
    z-index: 202;
    top: 50%;
    left: 50%;
    overflow: scroll;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .detailBox .detailTitle{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .detailBox .detailTitle .closeAgreement{
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('../images/header/close.png');
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .detailBox .detailArticle{
    height: 300px;
    overflow-y: auto;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .detailBox .detailArticle .p1{
    font-size: 16px;
    margin: 16px 0 20px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .detailBox .detailBtn{
    padding-right: 20px;
}
.navigator .header .loginRegisterWrap .loginRegisterInner .loginRegisterPanel .agreementDetail .detailBox .detailBtn button{
    float: right;
    width: 142px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    overflow: visible;
    background-color: #e14958;
    border: 1px solid #e14958;
    color: #fff;
    display: inline-block;
    padding: 0;
    align-items: center;
}
/*头部-中部*/
.navigator .header .center {
	width: auto;
}
.navigator .header .center .centerWrap{
	width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 4;
    height: 100px;
}
.navigator .header .center .centerWrap .logo{
	background: url('../images/header/logo.png') no-repeat;
    width: 280px;
    height: 60px;
    position: absolute;
}
.navigator .header .center .centerWrap .searchForm{
    position: absolute;
    left: 550px;
    width: 58%;
    height: 100%;
}
.navigator .header .center .centerWrap .searchForm .searchBar {
	padding-right: 40px;
    position: absolute;
    height: 87px;
    width: 394px;
}
.navigator .header .center .centerWrap .searchForm .searchBar .searchBox{
	float: right;
    width: 100%;
    height: 36px;
    position: absolute;
    margin-right: 70px;
}
.navigator .header .center .centerWrap .searchForm .searchBar .searchBox .searchKeyWords{
	width: 301px;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border: 1px solid #6b4185;
    position: absolute;
    color: #666;
}
.navigator .header .center .centerWrap .searchForm .searchBar .searchBox .searchSub{
	width: 81px;
    height: 38px;
    border: 1px solid #6b4185;
    line-height: 38px;
    background-color: #6b4185;
    display: inline-block;
    position: absolute;
    right: 40px;
    font-size: 16px;
    color:#fff;
}
.navigator .header .center .centerWrap .searchForm .searchBar .searchHot{
    top: 50px;
    height: 18px;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
}
.navigator .header .center .centerWrap .searchForm .searchBar .searchHot li{
	float: left;
    margin-right: 7px;
}

.navigator .header .center .centerWrap .searchForm .searchBar .searchHot li a{
	white-space: nowrap;
    color: #666;
    text-decoration: none;
}
.navigator .header .center .centerWrap .searchForm .trolley{
    position: absolute;
    left: 480px;
    width: 168px;
    height: 38px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background: url('../images/header/trolleyBg1.jpg') no-repeat 15px 7px #f2f2f2;
}
.navigator .header .center .centerWrap .searchForm .trolley a{
    line-height: 38px;
    text-indent: 60px;
    font-weight: 700;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: #666;
    background: url('../images/header/trolleyBg2.png') 150px 13px no-repeat;
}
.navigator .header .center .centerWrap .searchForm .trolley span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: -5px;
    right: 21px;
    color: #fff;
    font-size: 12px;
    background: url('../images/header/trolleyBg3.png') no-repeat;
}
/*头部-底部*/
.navigator .header .bottom{
    width: 100%;
    min-width: 1200px;
    background-color: #333;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 3;
}
.navigator .header .bottom .bottomWrap{
    width: 1200px;
    margin: 0 auto;
}

.navigator .header .bottom .bottomWrap .category{
    float: left;
    font-size: 16px;
    width: 220px;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background: url('../images/header/down.svg') no-repeat 150px 6px/20px 20px #654579;
}
.navigator .header .bottom .bottomWrap .category .title{
    text-align: center;
    color: #fff;
    font-size: 16px;
}  
.navigator .header .bottom .bottomWrap .category .categoryDetail{
    background-color: #e8e3eb;
    width: 220px;
    position: absolute;
    color: #666;
    height: 479px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail a:hover{
    text-decoration: underline;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl{
    padding: 25px 20px 0;
    border: 1px solid #e8e3eb;
    height: 93px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl:hover{
    background: #fff;
    border-top: 1px solid #654579;
    border-bottom: 1px solid #654579;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryShelter{
    right: 0px;
    background:transparent;
    z-index: 10;
    width: 1px;
    height: 25%;
    position: absolute;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl:nth-of-type(1) .categoryShelter{
    top: 0; 
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl:nth-of-type(2) .categoryShelter{
    top: 120px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl:nth-of-type(3) .categoryShelter{
    top: 240px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl:nth-of-type(4) .categoryShelter{
    top: 360px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl dt{
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 16px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl dt img{
    width: 18px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -4px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categorySort{
    line-height: 22px;
    height: 43px;
    position: relative;
    padding-right: 12px;
    padding-bottom: 14px;
    border-bottom: 1px dotted #d9d9d9;
    width: 168px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categorySort .sortBox{
    height: 44px;
    overflow: hidden;
    font-size: 12px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categorySort .sortBox a{
    white-space: nowrap;
    margin-right: 6px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop{
    width: 600px;
    min-height: 443px;
    overflow: hidden;
    position: absolute;
    left: 219px;
    top: 0px;
    background-color: #fff;
    padding: 20px 40px 15px;
    border: 1px solid #654579;
    display: none;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropTitle{
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .brand{
    margin-left: -13px;
    padding-bottom: 40px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .brand a{
    float: left;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .brand a img{
    width: 140px;
    height: 70px;
    margin-left: 13px;
    vertical-align: middle;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail {
    overflow: hidden;
    font-size: 12px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .brandAd{
    float: right;
    width: 293px;
    height: 270px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .brandAd a,
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .brandAd a img{
    display: inline-block;
    vertical-align: middle;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .item{
    margin-bottom: 20px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .item:last-of-type{
    margin-bottom: 0px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .item .itemTitle{
    float: left;
    width: 80px;
    height: 22px;
    line-height: 22px;
    font-weight: 700;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .item .itemDetail{
    overflow: hidden;
    width: 208px;
    line-height: 22px;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .item .itemDetail a{
    margin-right: 20px;
    white-space: nowrap;
}
.navigator .header .bottom .bottomWrap .category .categoryDetail dl .categoryDrop .dropBox .dropDetail .item
.navigator .header .bottom .bottomWrap .naviBar{
    overflow: hidden;
    padding-left: 30px;
    list-style-type: none;
}
.navigator .header .bottom .bottomWrap .naviBar li{
    float: left;
    padding: 0 10px;
    margin-right: 37px;
}
.navigator .header .bottom .bottomWrap .naviBar li a{
   color: #fff;
   font-size: 16px;
}
.navigator .header .bottom .bottomWrap .naviBar li a:hover{
    opacity: 0.7;
    text-decoration: none;
}





















