.indexWrap{
	background-color: #f9f9f9;
    padding-bottom: 50px;
    min-width: 1200px;
}
.indexWrap .indexSwiper{
	width: 1200px;
	height: 481px; 
	margin: 0 auto;
}
.indexWrap .indexSwiper .swiper-container{
	width: 1200px;
	height: 480px;
	overflow: hidden;
	
}
.indexWrap .indexSwiper .swiper-container .swiper-wrapper{
	height: 480px;
	overflow: hidden;
}
.indexWrap .indexSwiper .swiper-container .swiper-wrapper .swiper-slide{
	float: left;
	width: 1200px;
	height: 480px;
}
.indexWrap .indexMain{
	width: 1200px;
    margin: 0 auto;
    padding-top: 90px
}
.indexWrap .indexMain .indexTitle{
	width: 430px;
    height: 1px;
    background-color: #676767;
    margin: 0 auto 16px;
    position: relative;
    font-size: 30px;
}
.indexWrap .indexMain .indexTitle