
.productDetail {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.productDetail .detail_link {
	height: 40px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	line-height: 40px;
	margin: 10px 0;
}
.productDetail .detail_link ul {
	list-style: none;
}
.productDetail .detail_link li {
	float: left;
	padding-right: 14px;
}
.productDetail .detail_link li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}
.productDetail .detail_link li a span {
	display: inline-block;
	margin-top: -2px;
	width: 20px;
	height: 14px;
	background: url("../images/productDetail/ico.png");
	background-position:0 -45px ;
	vertical-align: middle;
}
.productDetail .detail_link li span {
	background: url("../images/productDetail/ico_arrow.png") -64px -85px no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 7px;
	height: 21px;
}
/*商品的主要内容*/
.productDetail .main {
	overflow: hidden;
}
.productDetail .main .main_left {
	width: 1020px;
	float: left;
}
.productDetail .main .main_left .main_intro {
	margin-bottom: 20px;
	overflow: hidden;
}
.productDetail .main .main_left .main_intro .main_show {
	width: 378px;
	float: left;
	padding-top: 10px;
}
.productDetail .main .main_left .main_intro .main_show .main_show_photo {
	width: 379px;
	height: 379px;
	border: 1px solid #e5e5e5;
}
.productDetail .main .main_left .main_intro .main_show .main_show_photo img {
	width: 379px;
	height: 379px;
}
.productDetail .main .main_left .main_intro .share {
	padding-top: 30px;
	position: relative;
	overflow: hidden;
	z-index: 3;
}
.productDetail .main .main_left .main_intro .share .fx {
	float: left;
}
.productDetail .main .main_left .main_intro .share .fx a {
	height: 16px;
	line-height: 16px;
	width: auto;	
}
.productDetail .main .main_left .main_intro .share .fx a span {
	margin-right: 4px;
	background: url("../images/productDetail/ico.png");
	width: 16px;
	height: 16px;
	background-position: -25px -23px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
}
.productDetail .main .main_left .main_intro .share .sc {
	padding-left: 40px;
	float: left;
}
.productDetail .main .main_left .main_intro .share .sc a span{
	display: inline-block;
	background: url("../images/productDetail/ico.png");
	background-position: -23px -2px;
	width: 18px;
	height: 15px;
	margin-top: -2px;
	vertical-align: middle;
}
.productDetail .main .main_left .main_intro .share .xf_box {
	width: 205px;
	line-height: 18px;
	position: absolute;
	left: 200px;
	margin-top: -18px;
	z-index: 2;
	padding: 16px 15px 18px 18px;
	border: 1px solid transparent;
	/*display: none;*/
}
.productDetail .main .main_left .main_intro .share .xf_box .title {
	position: absolute;
	z-index: 3;
	text-align: center;
	left: 70px;
	cursor: default;
}
.productDetail .main .main_left .main_intro .share .xf_box .title .title_photo {
	width: 12px;
	height: 15px;
	margin-right: 4px;
	display: inline-block;
	background: url("../images/productDetail/ico.png");
	background-position: 0 -23px;
	vertical-align: middle;
	margin-top: -2px;
}
.productDetail .main .main_left .main_intro .share .xf_box .title .title_photo2 {
	margin-left: 10px;
	vertical-align: top;
	margin-top: 6px;
	display: inline-block;
	border-style: solid;
	height: 0;
	line-height: 0;
	width: 0;
	border-width: 5px 4px;
	border-color: #666 transparent transparent transparent; 
}
/*.productDetail .main .main_left .main_intro .share .xf_box:hover .title_photo2{
	border-color: transparent transparent #666 transparent; 
}*/
.productDetail .main .main_left .main_intro .goods-data {
	padding-left: 40px;
	overflow: hidden;
}
.productDetail .main .main_left .main_intro .goods-data .clearfix {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-weight: 400;
	line-height: 30px;
	word-break: break-all;
	word-wrap:break-word;
}
.productDetail .main .main_left .main_intro .goods-data .goods-price dt {
	float: left;
	width: 80px;
	line-height: 40px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-price dd {
	float: left;
	z-index: 2;
	max-width: 510px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-price dd .afterfl .fl {
	float: left;
}
.productDetail .main .main_left .main_intro .goods-data .goods-price dd .afterfl .f30{
	font-size: 30px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-price dd .afterfl .bold {
	font-weight: 700;
}
.afterfl:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}
.productDetail .main .main_left .main_intro .goods-data .goods-price dd p .price-off{
	background: #f25e5a;
	color: #fff;
	padding: 0 2px;
	line-height: 15px;
	display: inline-block;
}
.productDetail .main .main_left .main_intro .goods-data .goods-function {
	height: 20px;
	margin-top: 24px;
	padding: 10px 0;
	border-top: 1px dotted #e5e5e5;
	border-bottom: 1px dotted #e5e5e5;
}
.productDetail .main .main_left .main_intro .goods-data .goods-function ul li:nth-child(1) {
	
	float: left;
	width: 198px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	border-right: 1px solid #e5e5e5;
}
.productDetail .icon-star,.icon-half-star{
	background: url("../images/productDetail/ico.png");
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	width: 11px;
	height: 12px;
}
.productDetail .icon-star {
	background-position: -19px -67px;
}
.productDetail .icon-half-star {
	background-position: 0px -67px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-function ul li:nth-child(2) {
	float: left;
	width: 198px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	border-right: 1px solid #e5e5e5;
}
.productDetail .main .main_left .main_intro .goods-data .goods-function ul li:nth-child(3) {
	float: left;
	width: 198px;
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-number {
	padding-top: 20px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-number dt {
	float: left;
	width: 80px;
	line-height: 40px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-number .number {
	margin-right: 10px;
	position: relative;
	float: left;
	width: 60px;
	height: 36px;
	padding-top: 4px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-number .number .btn-reduce,.btn-add {
	width: 14px;
	height: 12px;
	border: 1px solid #E5E5E5;
	position: absolute;
	right: 0;
	top: 22px;	
	text-align: center;	
}
.productDetail .main .main_left .main_intro .goods-data .goods-number .number .btn-add {
	position: absolute;
	right: 0;
	top: 4px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-number .number .btn-reduce .ico-u-5 {
	vertical-align: top;
	margin-top: 4px;
	border-color: #666 transparent transparent; 
	border-width: 5px;
	border-style: solid;
	display: inline-block;
	height: 0;
	line-height: 0;
	width: 0;
	
}
.productDetail .main .main_left .main_intro .goods-data .goods-number .number .btn-add .ico-d-5 {
	vertical-align: top;
	border-color:transparent transparent #666 transparent; 
	border-width: 5px;
	border-style: solid;
	display: inline-block;
	height: 0;
	line-height: 0;
	width: 0;	
}
.productDetail .main .main_left .main_intro .goods-data .goods-number .number input {
	width: 38px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #E5E5E5;
}
.productDetail .main .main_left .main_intro .goods-data .goods-btn,.goods-tips {
	padding-left: 80px;
	padding-top: 30px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-btn a:nth-child(1) {
	display: inline-block;
	border: 2px solid #e14958;
	margin-right: 20px;
	background: #fff;
	width: 136px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	float: left;	
	color: #e14958;
}
.productDetail .main .main_left .main_intro .goods-data .goods-btn a:nth-child(2) {
	display: inline-block;
	border: 2px solid #e14958;
	background: #e14958;
	width: 136px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	float: left;	
	color: #fff;
}
.productDetail .main .main_left .main_intro .goods-data .goods-tips .mr20 {
	padding-right: 10px;
	margin-right: 20px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-tips .ico-mark-1,.ico-mark-2,.ico-mark-3 {
	display: inline-block;
	background: url("../images/productDetail/ico_mark.png") no-repeat;
	background-position: 0 -36px;
	vertical-align: middle;
	width: 20px;
	height: 22px;
	margin-right: 10px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-tips .ico-mark-2 {
	background-position: -67px -36px;
}
.productDetail .main .main_left .main_intro .goods-data .goods-tips .ico-mark-3 {
	background-position: 0 -8px;
}
.productDetail .main .main_left .detail-content {
	padding-top: 20px;
}

/*内容区*/
.productDetail .main .main_left .detail-content .tag .tag_right {
	float: right;
	display: none;
}
.productDetail .main .main_left .detail-content .tag .tag_right a:nth-child(1) {
	display: inline-block;
	border: 2px solid #e14958;
	margin-right: 20px;
	background: #fff;
	width: 136px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	float: left;	
	color: #e14958;
}
.productDetail .main .main_left .detail-content .tag .tag_right a:nth-child(2) {
	display: inline-block;
	border: 2px solid #e14958;
	background: #e14958;
	width: 136px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	float: left;	
	color: #fff;
}
.productDetail .main .main_left .detail-content .tag .tag_right span {
	font-size: 30px;
	font-weight: 700;
}
.productDetail .main .main_left .detail-content .tag ul li {
	float: left;
	height: 36px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	background: #FFFFFF;
	border: 1px solid #999;
	border-top: 3px solid #999;
	position: relative;
}
#li1 {
	border: 1px solid #999;
	border-top: 3px solid #999;
	border-bottom: 1px solid #fff;
}
.productDetail .main .main_left .detail-content .tag ul .li_1{
	border: 1px solid #fff;
	border-top: 3px solid #fff;
}
.productDetail .main .main_left .detail-content .tag ul li a{
	display: block;
	padding: 0 30px;
}
.productDetail .main .main_left .detail-content .tag ul li .ico {
	position: absolute;
	top: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 12px;
	height: 10px;
}
.productDetail .main .main_left .detail-content .tag ul li .ico span {
	float: left;
	border-width:5px 6px;
	border-style: solid;
	border-color: #999 transparent transparent;
	height: 0;
	line-height: 0; 
	width: 0;
}
.productDetail .main .main_left .detail-content .tag ul li a span {
	color: #e14958;
}
.productDetail .main .main_left .detail-content .tag ul li:nth-child(2) .ico {
	display: none;
}
.productDetail .main .main_left .detail-content .tag ul li:nth-child(3) .ico {
	display: none;
}
.productDetail .main .main_left .detail-content .tag ul li:nth-child(1){
	border-bottom: 1px solid #fff;
}

.productDetail .main .main_left .detail-content .tag ul .li_2{
	border-color: #FFFFFF;
	border-bottom-color: #999;
}
.productDetail .main .main_left .detail-content .tag ul .li_3{
	border-color: #FFFFFF;
	border-bottom-color: #999;
}
.productDetail .main .main_left .detail-content .content {
	border-top: 1px solid #a7a7a7;
	margin-top: -1px;
}
.productDetail .main .main_left .detail-content .content .content_info {
	width: 960px;
	margin: 0 auto;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_1 {
	padding-top: 26px;
	border-bottom: 1px dotted #e5e5e5;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_1 dl dd{
	padding: 16px 0;
}
.productDetail .main .main_left .detail-content .content .content_info dt {
	font-weight: 700;
	font-size: 14px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_1 dl dd span{
	padding-right:56px;
	white-space: nowrap;
	line-height: 22px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_2 {
	border-bottom: 1px dotted #e5e5e5;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_2 dl dt {
	padding: 26px 0 15px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_2 dl dd {
	padding-bottom: 22px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 {
	border-bottom: 1px dotted #e5e5e5;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dt {
	padding: 26px 0 15px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd {
	line-height: 22px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li {
	position: relative;
	float: left;
	width: 180px;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	padding-top: 20px;
	text-align: center;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li:nth-child(1) {
	text-align: left;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li:nth-child(1) .first_line {
	width: 2px;
	height: 20px;
	position: absolute;
	top:50%;
	left: 0;
	right: auto;
	background: #e5e5e5;
	display: block;
	margin-top: 0;
	
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li:nth-child(1) p {
	line-height: 14px;
	padding-bottom: 0;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li:nth-child(1) .item {
	float: left;
	width: 56px;
	padding-left: 16px;
	text-align: right;
	vertical-align: top;
	line-height: 18px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li:nth-child(1) .percent {
	float: left;
	font-size: 35px;
	vertical-align: top;
	line-height: 38px;
	margin-top: -14px;
	font-weight: 400;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li .line {
	width: 1px;
	height: 20px;
	position: absolute;
	top:50%;
	right: 0;
	background: #e5e5e5;
	display: block;
	margin-top: 0;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-tag ul li input {
	width: 14px;
	height: 14px;
	margin-right: 3px;
	vertical-align: middle;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li{
	padding-left: 28px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .face{
	float: left;
	width: 150px;
	text-align: center;
	padding-top: 30px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .face img {
	max-width: 40px;
	max-height: 40px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .face p {
	padding-bottom: 0px;
	line-height: 20px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .data {
	overflow: hidden;
	padding-top: 26px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .infos {
	color: #cbcbcb;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .infos .rate{
	float: right;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .infos .time span{
	padding-right: 10px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .comment-table li .data .text {
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 0;
	font-size: 14px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .pagination .page{
	float: right;
	padding-bottom: 20px;
	padding-top: 20px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .pagination .page ul {
	float: left;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .pagination .page ul li {
	float: left;
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin-left: 10px;
	text-align: center;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .pagination .page ul li a{
	float: left;
	width: 100%;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .pagination .page ul .active {
	background: #E5E5E5;
	
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_3 dl dd .pagination .page .end {
	float: left;
	width: 48px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid #e5e5e5;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_4 {
	border-bottom: 1px dotted #E5E5E5;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_4 dt{
	padding: 26px 0 15px;
}
.productDetail .main .main_left .detail-content .content .content_info .content_info_4 dd{
	line-height: 20px;
	padding-bottom: 16px;
}
.productDetail .main .main_right {
	width: 146px;
	float: right;
	margin-right: 15px;
}
.productDetail .main .main_right .sidebar-buying{
	padding-top: 30px;
	line-height: 20px;
}
.productDetail .main .main_right .sidebar-buying .title {
	border-top: 1px dotted #E5E5E5;
	padding-bottom: 20px;
}
.productDetail .main .main_right .sidebar-buying .title p {
	width: 82px;
	margin-top: -10px;
	margin-left: 30px;
	background: #fff;
	text-align: center;
	font-size: 14px;
}
.productDetail .main .main_right .sidebar-buying ul li {
	padding-bottom: 16px;
}
.active {
	display: block;
}
.productDetail .main .main_right .sidebar-buying li .img-ct {
	width: 140px;
	height: 140px;
	margin-bottom: 4px;
	/*background-image:url("http://img.cdn.daling.com/data/files/zin/2016/08/23/FA163E0C4D3EG8NC0C45IG079AO.jpg");*/
}
.productDetail .main .main_right .sidebar-buying li .cover-img {
	background-position: center center;
	background-size: cover; 
}
.productDetail .main .main_right .sidebar-buying li .old-price {
	text-decoration: line-through;
	padding-left: 10px;
}
.productDetail .main .main_right .sidebar-buying li .goods-title {
	width: 146px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.productDetail .main .main_right .sidebar-buying .scroll {
	text-align: center;
	width: 140px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.productDetail .main .main_right .sidebar-buying .scrolls {
	display: inline-block;
	display: inline-block;
	width: 20px;
    height: 16px;
    cursor: pointer;
}
.productDetail .main .main_right .sidebar-buying .scroll-up {
    	background: url("../images/productDetail/ico_arrow.png") -29px -2px no-repeat;
    margin-left: 0;
}
.productDetail .main .main_right .sidebar-buying .scroll-down,.scroll-up {
	background: url("../images/productDetail/ico_arrow.png") 0 -2px no-repeat;
    margin-left: 16px;
}
.Stick {
	position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    border-bottom: solid 1px #ccc;
    background-color: #fff;
    z-index: 100;
}
.Stick1 {
    	position: relative;
    width: 1200px;
    margin: 0 auto;
}
.Animate{
	width:10px;
	height:10px;
	background-color: red;
	margin-top: -10px;
	margin-left: 165px;
	position:absolute;	
}

.u-flyer {
    display: block;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
}
.liked {
	background-position: 0 -2px;
}

/*// ┏┓　　　┏┓
// ┏┛┻━━━┛┻┓
// ┃　　　　　　　┃ 　
// ┃　　　━　　　┃
// ┃　┳┛　┗┳　┃
// ┃　　　　　　　┃
// ┃　　　┻　　　┃
// ┃　　　　　　　┃
// ┗━┓　　　┏━┛
// ┃　　　┃ 神兽保佑　　　　　　　　
// ┃　　　┃ 代码无BUG！
// ┃　　　┗━━━┓
// ┃　　　　　　　┣┓
// ┃　　　　　　　┏┛
// ┗┓┓┏━┳┓┏┛
// ┃┫┫　┃┫┫
// ┗┻┛　┗*/
