
/*购物车部分*/
.cartContainer{
	width:1200px;
	margin:0 auto;
	padding-bottom: 50px; 
}
.cartContainer .centerWrap a{
	float:left;
	width:280px;
	margin-right: 20px;
	height:40px;
	background: url('../images/header/logo.png') no-repeat;  
}
/*订单栏*/
.cartContainer .centerWrap .logoFlow{
    border: 1px solid #e5e5e5;
    height: 38px;
    width: 615px;
    float: right;
    margin-top: 10px;
}
.cartContainer .centerWrap .logoFlow ul li{
    width:205px;
    height:40px;
    line-height: 40px;
    float:left;
    position: relative;
    font-size: 14px;
    color:#cacaca;
}
.cartContainer .centerWrap .logoFlow ul li:nth-child(1){
	/*z-index: 1;*/
    top: -1px;
    left: -1px;
	 color: #fff;
    background-color: #f25e5a;
}
/*查看购物车箭头*/
.cartContainer .centerWrap .logoFlow ul li:nth-child(1) .flowList{
	width:0;
	height:0;
	border-width: 20px 11px;
	border-style: solid;
	right: -22px;
	position: absolute;	
	border-color:transparent transparent transparent #f25e5a;
	display: block;
}
/*订单栏编号*/
.cartContainer .centerWrap .logoFlow ul li .flowCircle{
	display: inline-block;
	width:20px;
	height:20px;
	border-radius: 50%;
	background-color: #cacaca;
	color:#fff;
	text-align: center;
	line-height: 20px;
	margin:0 10px 0 52px;
	font-family: arial;
	font-weight: 700;
}
.cartContainer .centerWrap .logoFlow ul li:nth-child(1) .flowCircle{
	background-color: #fff;
	color:#f25e5a;
}
.cartContainer .centerWrap .logoFlow ul li .flowTo{
	width:7px;
	height:21px;
	vertical-align: middle;
	position: absolute;
	left:auto;
	right:0;
	top:10px;
	background:url(../images/footer/ico_arrow.png) -64px -85px no-repeat; 
}
/*购物车主体部分*/
.cartContainer .onlineCart{
	padding-top:60px; 

}
.cartContainer .onlineCart .cartTitle{
	width:1200px;
	height:38px;
	line-height: 38px;
	margin:0 auto;
	border:1px solid #ccc;
}
.cartContainer .onlineCart .cartTitle ul li{
	float:left;
	margin-right: 25px;
	text-align: center;
}
.cartContainer .onlineCart .cartTitle ul li:nth-child(1) input{
	width:14px;
	height:14px;
	margin-left: 18px;
	margin-right: 16px;
	margin-top: -3px;
	vertical-align: middle;

}
.cartContainer .onlineCart .cartTitle ul li:nth-child(1){
	width:100px;
	text-align: left;
}
.cartContainer .onlineCart .cartTitle ul li:nth-child(2){
	width:440px;
}
.cartContainer .onlineCart .cartTitle ul li:nth-child(3){
	width:120px;
}
.cartContainer .onlineCart .cartTitle ul li:nth-child(4){
	width:116px;
}
.cartContainer .onlineCart .cartTitle ul li:nth-child(5){
	width:128px;
}
.cartContainer .onlineCart .cartTitle ul li:nth-child(6){
	float: none;
	overflow: hidden;
}
/*空购物车*/
.cartContainer .onlineCart .emptyCart{
	width:auto;
	height:160px;
	margin:0 auto 50px;
}
.cartContainer .onlineCart .emptyCart td{
	padding-top: 100px;
}
.cartContainer .onlineCart .emptyCart td .cartImg{
	width:80px;
	height:71px;
	background: url("../images/footer/ico-cart-empty.png") no-repeat;
	float:left;
	margin-right: 30px;
	font-weight: 700;
}
.cartContainer .onlineCart .emptyCart td span{
	display: block;
	padding-top: 16px;
	height:100px;
	float:left;
	font-size: 14px;
}
.cartContainer .onlineCart .emptyCart td span a{
	color: #384f61;
	margin-top: 10px;
	float:left;
}

/*非空购物车*/
.cartContainer .onlineCart .fullCart{
	margin-top: 20px;
	border:1px solid #e5e5e5;
	padding-bottom: 20px; 
}
/*购物车商品列表头部*/
.cartContainer .onlineCart .fullCart .listTitle{
	border-bottom: 1px solid #e5e5e5;
	height:40px;
	line-height: 40px;
	padding-left: 10px;
}
.cartContainer .onlineCart .fullCart .listBody{
	overflow: hidden;
	margin-top:20px;
}

.cartContainer .onlineCart .fullCart .listTitle input,
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(1) input{
	width:14px;
	height:14px;
	vertical-align: middle;
	margin:-3px 3px 0 0;
}
.cartContainer .onlineCart .fullCart .listTitle .discount{
	margin:0 12px 0 20px;
	padding:0 4px;
	line-height: 16px;
	background-color: #c24259;
	color:#fff;
	display: inline-block;
	position: relative; 
}
/*满减下尖角*/
.cartContainer .onlineCart .fullCart .listTitle .discount span{
	border-width:4px 3px;
	border-style:solid;
	border-color:#c24259 transparent transparent;
	display: inline-block;
	height:0;
	line-height: 0;
	width:0;
	position: absolute;
	bottom:-8px;
	left:12px;
}
/*去凑单*/
.cartContainer .onlineCart .fullCart .listTitle a{
	color:#3333d6;
}
/*购物车商品信息*/
.cartContainer .onlineCart .fullCart .listBody{
	margin-top: 20px;
	overflow: hidden;
	
} 
.cartContainer .onlineCart .fullCart .listBody .listTitle{
	margin-top: -20px;
}
.cartContainer .onlineCart .fullCart .listBody ul li{
	padding-top: 20px;
	float: left;
}
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(1){
	width:52px;
	text-align: center;
}
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(2){
	width:486px;
	position: relative;
}
/*商品图片*/
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(2) .productImg{
	width:78px;
	height:78px;
	float:left;
	border:1px solid #e5e5e5;
	margin-right: 20px;

}
/*商品简介*/
.cartContainer .onlineCart .fullCart .listBody ul li>.proRelate{
	line-height: 20px;
}
.cartContainer .onlineCart .fullCart .listBody ul li>.proRelate:hover{
	text-decoration: underline;
}
/*商品单价*/
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(3){
	margin-left: 46px;
	width:120px;
	text-align: center;
}
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(3) span{
	font-size: 16px;
}
/*商品件数*/
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(4){

	width:98px;
	padding-left: 40px;
	padding-right: 10px;
	float:left;
}
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(4) span{
	height:28px;
	text-align: center;
	line-height: 28px;
	float:left;
}
/*减*/
.cartContainer .onlineCart .fullCart .listBody ul li>.reduce{
	width:28px;
	font-size: 26px;
	border:1px solid #e5e5e5;
	font-weight: bold;
	border-right:none 0;
	margin-right: 0;
	display: block;
}
/*商品件数*/
.cartContainer .onlineCart .fullCart .listBody ul li>.count{
	width:38px;
	padding:0;
	border:1px solid #e5e5e5;
	
}

/*加*/
.cartContainer .onlineCart .fullCart .listBody ul li>.add{
	width:28px;
	font-size: 26px;
	border:1px solid #e5e5e5;
	border-right: solid 1px #e5e5e5;
	border-left:none 0;
}
.cartContainer .onlineCart .fullCart .listBody ul li>.btn:hover{
	cursor:pointer;
}
/*单类商品总价*/
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(5){
	margin-left: 20px;
	color:#e14958;
	text-align:center;
	width:128px;
}
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(5) .proPrice{
	font-size: 16px;
}
/*删除*/
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(6){
	text-align: center;
	line-height: 20px;
	float:none;
}
.cartContainer .onlineCart .fullCart .listBody ul li:nth-child(6) .singleDel:hover{
	cursor:pointer;
	text-decoration: underline;
}
/*换购区*/
.cartContainer .exchange{
	position: relative;
	border-bottom: none 0;
	padding-bottom: 0;
	margin-top: 20px;
	border:1px solid #e5e5e5;
}
/**/
.cartContainer .exchange .exHeader{
	border-bottom: 1px solid #e5e5e5;
	height:40px;
	line-height: 40px;
	padding-left: 18px;
}
.cartContainer .exchange span{
	margin-left:40px;
}
.cartContainer .exchange .exHeader span{
	margin: 0 12px 0 20px;
	padding:0 4px;
	line-height:16px;
	background-color: #c24259;
	color:#fff;
	position: relative;
	display: inline-block;
}
.cartContainer .exchange .exHeader a{
	color:#3333d6;
	margin-left: 12px;
}

/*购物车底部总计*/
.cartContainer .cartBottom{
	height:58px;
	border:1px solid #ccc;
	margin: 0 auto;
	background-color: #f2f2f2;
}
/*购物车底部左边*/
.cartContainer .cartBottom .bottomLeft li{
	padding-top: 22px;
	float:left;
}
.cartContainer .cartBottom .bottomLeft li:nth-child(1){
	width:100px;
}
.cartContainer .cartBottom .bottomLeft li:nth-child(1) input{
	width:14px;
	height:14px;
	margin:-2px 16px 0 18px;
}
.cartContainer .cartBottom .bottomLeft li:nth-child(2){
	margin-left: 20px;
}
.cartContainer .cartBottom .bottomLeft li:nth-child(2) a{
	margin-right: 60px;
}
.cartContainer .cartBottom .bottomLeft li:nth-child(2) a:hover{
	text-decoration: underline;
}
/*购物车底部右边*/
.cartContainer .cartBottom .bottomRight{
	width:590px;
	float:right;
}
.cartContainer .cartBottom .bottomRight li{
	float:right;
}
.cartContainer .cartBottom .bottomRight li:nth-child(1) a{
	width:120px;
	display: inline-block;
	background-color: #f25e5a;
	text-align: center;
	line-height: 60px;
	margin:-1px -1px 0 0;
	font-size: 18px;
	color:#fff;	
}
.cartContainer .cartBottom .bottomRight li .priceWarn{
	color:#e14958;
}
.cartContainer .cartBottom .bottomRight li .priceWarn .wholeData{
	font-size: 20px;
}

.cartContainer .cartBottom .bottomRight li .wholePrice{
	float:left;
	width:140px;
	margin-top: 5px;
}

.cartContainer .cartBottom .bottomRight li:nth-child(3){
	float:right;
	padding-right: 102px;
	padding-top: 12px;
}
/*我的收藏*/
.cartContainer .collect{
	padding-top: 46px;
	padding-left:20px;
}
.cartContainer .collect .collectText{
	width:142px;
	font-size:14px;
	border-top:dotted 1px #ccc;
	margin:0 auto; 
}
.cartContainer .collect .collectText p{
	width:80px;
	margin:-12px auto 0;
	text-align: center;
}
.cartContainer .collect .register{
	width:auto;
	height:60px;
	margin:18px auto 0;
}
.cartContainer .collect .register p{
	text-align: center;
	padding:10px 0;
	font-size:16px;
}
/*登录*/
.cartContainer .collect .register p:nth-child(2) a{
	background-color:#df4b5b;
	width:170px;
	height:40px;
	line-height: 40px;
	color:#fff;
	text-align: center;
	display: inline-block;
}



