<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>购物车</title>
	<meta name="keywords" content="达令,达令™,鹿晗,海淘,礼物店,跨境购,代购,全球购,跨境电商,海外直邮,达令礼物店,达令APP,达令官网">
	<meta name="description" content="达令™一手全球好货,每天甄选高品质时尚潮货,进口零食,美妆,创意生活用品.潮流买手带您跨境全球购,达令APP教您神马值得买.鹿晗投资,品牌授权,海关监督,免税直邮.Darling爱达令!">
	<link rel="shortcut icon" href="__ROOT__/Index/Common/images/index/favicon.ico"/>
	<link rel="stylesheet" href="__ROOT__/Index/Common/css/shopCart.css" />
	<link rel="stylesheet" href="__ROOT__/Index/Common/css/reset.css" />
	<link rel="stylesheet" href="__ROOT__/Index/Common/css/aside.css" />
	<link rel="stylesheet" href="__ROOT__/Index/Common/css/header.css" />
	<link rel="stylesheet" href="__ROOT__/Index/Common/css/footer.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Index/Common/css/sweetalert.css">
	<script src="__ROOT__/Index/Common/js/sweetalert.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Index/Common/js/angular-sanitize.js"></script>
	<script type="text/javascript" src="__ROOT__/Index/Common/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		var app = '';
	</script>
</head>
<body ng-app="myapp">
	<div class="navigator">
		<include file='Public:header' />
	</div>
	<div id="shopCart" ng-controller="myctrl">	
		
	<!-- 订单栏 -->
		<div class="cartContainer">
			<!-- logo以及订单栏 -->
			<div class="centerWrap">
				<a href="#" class="logo"></a>
				<!-- 订单栏流程 -->
				<div class="logoFlow">
					<ul>
						<li>
							<span class="flowList"></span>
							<span class="flowCircle">1</span>
							查看购物车	
						</li>
						<li>
							<span class="flowList"></span>
							<span class="flowCircle">2</span>
							<span class="flowTo"></span>
							确认订单信息
						</li>
						<li>
							<span class="flowList"></span>
							<span class="flowCircle">3</span>
							成功提交订单
						</li>
						
					</ul>
				</div>
				<div class="clearFloat"></div>
			</div>
			<!-- 订单列表头 -->
			<div class="onlineCart">
				<div class="cartTitle">
					<ul>
						<li>
							<input type="checkbox" class="choice selectAll" />
							<label for="selectAll">全选</label>
						</li>
						<li>商品名称</li>
						<li>单价（元）</li>
						<li>数量</li>
						<li>小计（元）</li>
						<li>操作</li>
					</ul>
				</div>
				<!-- 购物车部分 -->
				<!-- 空购物车 -->
				<table cellspacing="0" cellpadding="0" class="emptyCart" style="display: none">
					<tbody>
						<tr>
							<td>
								<div class="cartImg"></div>
								<span>购物车空空的哦~，去看看心仪的商品吧~<br/>
									<a href="">去购物> </a>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- 非空购物车 -->
				<div class="fullCart" ng-repeat='(k,v) in initData.data'>
					<!-- 购物车商品列表头部 -->
					<div class="listTitle"> 
						<span class="discount">{{v.saleInfo}}
						</span>
						<!-- <span>超级满减团99减30 </span>
						<span>再够34.00元 可减34.00元</span> -->
						<!-- <a href="__APP__/ProductList/showList?keywords=全球零食">去凑单>> </a> -->
					</div>
					<!-- 购物车商品信息 -->
					<div class="listBody">
						<ul>
							<li>
							
								<input type="checkbox" class="choice checkt" ng-click="radioSel($event)" />
							</li>
							<!-- 商品信息 -->
							<li>
								<a href="">
									<img ng-src="{{v.productShowPicUrl}}" alt="达令" class="productImg" />
								</a>
								<a href="" class="proRelate">
									<span id="productName">{{v.productName.substring(v.productName.indexOf('['),v.productName.indexOf(']')+1)}}</span><br/>
									<span id="productIntro">{{v.productName.substring(v.productName.indexOf(']')+1,v.productName.length)}}</span>
								</a>
							</li>
							<!-- 商品单价 -->
							<li>
								<p>￥
									<span class="proPrice">{{v.discountPrice}}</span>
								</p>
							</li>
							<!-- 商品件数 -->
							<li>
								<span class="btn reduce" ng-click='reduce(v.id,$event)'>-</span>	
								<span class="count">{{v.count}}</span>
								<span class="btn add" ng-click='add(v.id,$event)'>+</span>
								<div class="clearFloat"></div>
							</li>
							<!-- 单个商品总价 -->
							<li>￥<span class="TotPrice">{{v.count*v.discountPrice}}</span></li>
							<li><span class="singleDel" ng-click='delete(v.id,$event)' >删除</span></li>
						</ul>
						<div class="clearFloat"></div>
					</div>
				</div> 

				
				<!-- 换购区 -->
				<div class="exchange" style="display: none">
					<div class="exHeader">
						<div class="exbody">
							<span>换购区</span>
							<a href=""> 加9.9元换套装>> </a>
						</div>
					</div>
				</div>
			<!-- 总计 -->
			<div class="cartBottom">
				<ul class="bottomLeft">
					<li>
						<input type="checkbox" class="choice" id="selectAll" />&nbsp;全选
					</li>
					<li>
					
						<a href="javascript:;" class="delectPro" ng-click="delChecked()">删除选中的商品</a>
						<a href="javascript:;" class="moveTo">移到我的收藏夹</a>
					</li>
				</ul>
				<ul class="bottomRight">
					<li><a href="__APP__/Indent">去结算</a></li>
					<li>
						<p class="wholePrice">
							<span>总金额：</span> 
							<span class="priceWarn">￥
								<span class="wholeData totalPrice">0.00</span>
							</span>
						</p>
						<p>
						已节省 :&nbsp; -￥
						<span id="savePrice">0.00</span></p>
					</li>
					<li>已选中<span class="priceWarn totalNum">0</span>件商品</li>	
				</ul>
			</div>
			<!-- 我的收藏 -->
			<div class="collect">
				<div class="collectText">
					<p>我的收藏</p>
				</div>
				<div class="register">
					<p>登陆后才能查看收藏的全球好货哦~</p>
					<p><a href="javascript:void(0)" ng-click='loginBtn()'> 登录> </a></p>
				</div>
				
			</div>
		</div>
	</div>
	<div class="asideBar">
		<include file='Public:aside' />
	</div>
	<div class="footer">
		<include file='Public:footer' />
	</div>
</body>
<script src="__ROOT__/Index/Common/js/aside.js" type="text/javascript"></script>
<script type="text/javascript" src="__ROOT__/Index/Common/js/shopCart.js"></script>
</html>