<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>达令——添加商品</title>
	   
	   	<link rel="stylesheet" href="__ROOT__/Admin/Common/css/reset.css" />
		<link rel="stylesheet" href="__ROOT__/Admin/Common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__ROOT__/Admin/Common/css/add.css" />
		<link rel="stylesheet" type="text/css" href="__ROOT__/Admin/Common/css/sweetalert.css">
		<script src="__ROOT__/Admin/Common/js/sweetalert.min.js"></script>	
		<script type="text/javascript" src="__ROOT__/Admin/Common/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Admin/Common/js/angular.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Admin/Common/js/angular-sanitize.js"></script>
		<script type="text/javascript" src="__ROOT__/Admin/Common/js/bootstrap.min.js"></script>
	</head>
	<body ng-app='myapp' ng-controller='addController'>
		<div class="content">
			<h2>添加商品</h2>
			<span class="logout">[退出系统]</span>
			<div class="form-horizontal">
				<div class="form-group">
					<label for="productName" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">商品名：</label>
					<div class="col-md-8 col-sm-8">
						<input ng-model="productName" type='text' placeholder='商品名' class='form-control' id='productName' name='productName'  />				
					</div>
				</div>
				<div class="form-group">
					<label for="originPrice" class="col-md-2 col-md-offset-1 col-sm-2 control-label category" >原价：</label>
					<div class="col-md-8 col-sm-8">
						<input ng-model="originPrice" type="text" placeholder="原价" class="form-control" id="originPrice" name="originPrice" />
					</div>
				</div>
				<div class="form-group">
					<label for="discountPrice" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">折扣价：</label>
					<div class="col-md-8 col-sm-8">
						<input ng-model="discountPrice" type="text" placeholder="折扣价" class="form-control" id="discountPrice" name="discountPrice" />
					</div>
				</div>
				<div class="form-group">
					<label for="discountRate" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">折扣率：</label>
					<div class="col-md-8 col-sm-8">
						<input ng-model="discountRatefile" type="text" placeholder="折扣率" class="form-control" id="discountRate" name="discountRate" />
					</div>
				</div>
				<div class="form-group">
					<label for="saleInfo" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">促销信息：</label>
					<div class="col-md-8 col-sm-8">
						<input ng-model="saleInfo" type="text" placeholder="促销信息" class="form-control" id="saleInfo" name="saleInfo" />
					</div>
				</div>
				<div class="form-group">
					<label for="collectNumber" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">默认收藏数量：</label>
					<div class="col-md-8 col-sm-8">
						<input ng-model="collectNumber" type="text" placeholder="收藏数量" class="form-control" id="collectNumber" name="collectNumber" />
					</div>
				</div>
				<div class="form-group">
					<label for="productParamter" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">商品详细信息：</label>
					<div class="col-md-8 col-sm-8">
						<input  type="text" placeholder="商品详细信息" class="form-control" id="productParamter" name="productParamter" />
					</div>
				</div>
				<div class="form-group">
					<label for="keywords" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">关键字(用 、 分隔)：</label>
					<div class="col-md-8 col-sm-8">
						<input  type="text" placeholder="关键字(用 、 分隔)" class="form-control" id="keywords" name="keywords" />
					</div>
				</div>
				<div class="form-group">
					<label for="commentUrl" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">默认评论文件(json格式)：</label>
					<div class="col-md-8 col-sm-8">
						<input type="file" id="commentUrl" name="commentUrl" />
					</div>
				</div>
				<div class="form-group">
					<label for="productShowPicUrl" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">商品展示图片：</label>
					<div class="col-md-8 col-sm-8">
						<input  type="file" id="productShowPicUrl" name="productShowPicUrl"  />
					</div>
				</div>
				<div class="form-group">
					<label for="productInfoPicUrl" class="col-md-2 col-md-offset-1 col-sm-2 control-label category">商品信息图片：</label>
					<div class="col-md-8 col-sm-8">
						<input  type="file" id="productInfoPicUrl" name="productInfoPicUrl" multiple />
					</div>
				</div>
				<div class="form-group">
					
					<div class="col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-2 ">
						<input  type="button"  class="btn btn-default" value="添加" ng-click="addData()"/>
					</div>
				</div>
			</form>
		</div>
	</body>
	<script type="text/javascript" src="__ROOT__/Admin/Common/js/add.js"></script>
	<script type="text/javascript">
		$('.logout').on('click',function(){
			$.ajax({
				method:'get',
				url:'__ROOT__/admin.php/Manage/logout',
				success:function(data){
					if(data.status == 1){
						window.location.href = '__ROOT__/admin.php/Index';
					}else{
						swal({
							title: data['info'],
							text: '',
							type: "error",
							confirmButtonText: "确认"
						});
					};
				},
				error:function(err){
					swal({
						title: err,
						text: '',
						type: "error",
						confirmButtonText: "确认"
					});
				},
			});
		});
	</script>
</html>