<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="keywords" content="达令,达令™,鹿晗,海淘,礼物店,跨境购,代购,全球购,跨境电商,海外直邮,达令礼物店,达令APP,达令官网">
    	<meta name="description" content="达令™一手全球好货,每天甄选高品质时尚潮货,进口零食,美妆,创意生活用品.潮流买手带您跨境全球购,达令APP教您神马值得买.鹿晗投资,品牌授权,海关监督,免税直邮.Darling爱达令!">
		<title>达令</title>
		<link rel="shortcut icon" href="__ROOT__/Index/Common/images/index/favicon.ico"/>
		<link rel="stylesheet" href="__ROOT__/Index/Common/css/reset.css" />
		<link rel="stylesheet" href="__ROOT__/Index/Common/css/header.css" />
		<link rel="stylesheet" href="__ROOT__/Index/Common/css/aside.css" />
		<link rel="stylesheet" href="__ROOT__/Index/Common/css/footer.css" />
		<link rel="stylesheet" href="__ROOT__/Index/Common/css/index.css" />
		<link rel="stylesheet" href="__ROOT__/Index/Common/css/swiper-3.4.2.min.css" />
		<link rel="stylesheet" type="text/css" href="__ROOT__/Index/Common/css/sweetalert.css">
		<script src="__ROOT__/Index/Common/js/sweetalert.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/swiper-3.4.2.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/angular-sanitize.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/jquery.fly.min.js"></script>
		<script type="text/javascript">
			var app = '';
		</script>
	</head>
	<body ng-app='myapp'>
		<div class="navigator">
			<include file='Public:header' />
		</div>
		<div class="indexWrap"  ng-controller='indexController'>
			<div class="indexSwiper">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="__ROOT__/Index/Common/images/index/banner1.gif" alt="达令" />
						</div>
						<div class="swiper-slide">
							<img src="__ROOT__/Index/Common/images/index/banner2.jpg" alt="达令" />
						</div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
    				<div class="swiper-button-next"></div>
				</div>
			</div>
			<div class="indexMain">
				<div class="indexTitle">
					<p>发现·好货</p>
				</div>
				<section class="indexNew">
					<h2 class="title">
						<div class="left">
							<span class="text1">
								今日上新
							</span>
							<span class="text2">
								早上八点上新
							</span>
						</div>
						<div class="right">
							<a class="exchange" href='javascript:void(0)' ng-click='exchange()'>
								换一批
							</a>
							<span></span>
						</div>
					</h2>
					<div class="box">
						<ul class="up">
							<li ng-repeat="(k,v) in initData.new.up" ng-mouseenter='newEnter($event)' ng-mouseleave='newLeave($event)' >
								<div class="pic">
									<a href="__APP__/ProductDetail?pid={{v.id}}">
										<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
									</a>
									<span class="joinTrolley" ng-click='joinTrolley(v.id,$event,v.productShowPicUrl)'>
										加入购物车
										<span></span>
									</span>
								</div>
								<div class="text">
									<div class="textUp">
										<span class="discount">
											￥<span>{{v.discountPrice}}
											</span>
										</span>
										<span class="originPirce">
											￥<span>{{v.originPrice}}</span>
										</span>
										<span class="collect">
											<span>{{v.collectNumber}}</span>人收藏
										</span>
									</div>
									<div class="textDown">
										<span class="discount">
											{{v.discountRate}}折/
										</span>
										<a href="__APP__/ProductDetail?pid={{v.id}}" class="introduce">
											 {{v.productName}} 
										</a>
									</div>
								</div>
							</li>
						</ul>
						<ul class="down" >
							<li ng-repeat="(k,v) in initData.new.down" ng-mouseenter='newEnter($event)' ng-mouseleave='newLeave($event)'>
								<div class="pic">
									<a href="__APP__/ProductDetail?pid={{v.id}}">
										<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
									</a>
									<span class="joinTrolley" ng-click='joinTrolley(v.id,$event,v.productShowPicUrl)'>
										加入购物车
										<span></span>
									</span>
								</div>
								<div class="text">
									<div class="textUp">
										<span class="discount">
											￥<span>{{v.discountPrice}}
											</span>
										</span>
										<span class="originPirce">
											￥<span>{{v.originPrice}}</span>
										</span>
										<span class="collect">
											<span>{{v.collectNumber}}</span>人收藏
										</span>
									</div>
									<div class="textDown">
										<span class="discount">
											{{v.discountRate}}折/
										</span>
										<a href="__APP__/ProductDetail?pid={{v.id}}" class="introduce">
											 {{v.productName}}
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<section class="indexWorthBuy">
					<h2 class="title">
						<span class="text1">
							神马值得买
						</span>
						<span class="text2">
							帮你挑选全球好货
						</span>
					</h2>
					<h3 class="subtitle">
						<span></span>
						全球好货
					</h3>
					<div class="box">
						<ul>
							<li><a href="__APP__/ProductList?keywords=泰国馆&uid={{initData.uid}}">
								<img src="__ROOT__/Index/Common/images/index/thailand.jpg" alt="达令" />
							</a></li>
							<li><a href="__APP__/ProductList?keywords=澳大利亚馆&uid={{initData.uid}}">
								<img src="__ROOT__/Index/Common/images/index/australian.jpg" alt="达令" />
							</a></li>
							<li><a href="__APP__/ProductList?keywords=日本馆&uid={{initData.uid}}">
								<img src="__ROOT__/Index/Common/images/index/japan.jpg" alt="达令" />
							</a></li>
							<li><a href="__APP__/ProductList?keywords=法国馆&uid={{initData.uid}}">
								<img src="__ROOT__/Index/Common/images/index/france.jpg" alt="达令" />
							</a></li>
							<li><a href="__APP__/ProductList?keywords=韩国馆&uid={{initData.uid}}">
								<img src="__ROOT__/Index/Common/images/index/korea.jpg" alt="达令" />
							</a></li>
						</ul>
					</div>
				</section>
				<section class="indexGood">
					<h3 class="subtitle">
						<span></span>
						大家都说好
					</h3>
					<div class="box">
						<div class="tab">
							<ul>
								<li class="current">全部商品</li>
								<li>极致美护</li>
								<li>全球零食</li>
								<li>创意生活</li>
								<li>时尚配饰</li>
								<li>3C数码</li>
							</ul>
						</div>
						<div class="list">
							<ul class="item1 clearFloat">
								<li ng-repeat="(k,v) in initData.good.all">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="textUp">
											<span class="discount">
												￥<span>{{v.discountPrice}}</span>
											</span>
											<span class="originPrice">
											</span>
												￥<span>{{v.originPrice}}</span>
											</span>
										</div>
										<div class="textMid">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												{{v.productName}}
											</a>
										</div>
										<div class="textDown">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												<span class="userImg"></span>
												<span class="userComment">
													<span class="detail">“挺不错的，主要是方便”</span>
													<span class="repute">共有26295条评论 好评率98% >></span>
												</span>
												<span class="bg"></span>
											</a>
										</div>
									</div>
								</li>
								
							</ul>
							<ul class="item2 clearFloat">
								<li ng-repeat="(k,v) in initData.good.beauty">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="textUp">
											<span class="discount">
												￥<span>{{v.discountPrice}}</span>
											</span>
											<span class="originPrice">
											</span>
												￥<span>{{v.originPrice}}</span>
											</span>
										</div>
										<div class="textMid">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												{{v.productName}}
											</a>
										</div>
										<div class="textDown">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												<span class="userImg"></span>
												<span class="userComment">
													<span class="detail">“挺不错的，主要是方便”</span>
													<span class="repute">共有26295条评论 好评率98% >></span>
												</span>
												<span class="bg"></span>
											</a>
										</div>
									</div>
								</li>
								
							</ul>
							<ul class="item3 clearFloat">
								<li ng-repeat="(k,v) in initData.good.snack">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="textUp">
											<span class="discount">
												￥<span>{{v.discountPrice}}</span>
											</span>
											<span class="originPrice">
											</span>
												￥<span>{{v.originPrice}}</span>
											</span>
										</div>
										<div class="textMid">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												{{v.productName}}
											</a>
										</div>
										<div class="textDown">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												<span class="userImg"></span>
												<span class="userComment">
													<span class="detail">“挺不错的，主要是方便”</span>
													<span class="repute">共有26295条评论 好评率98% >></span>
												</span>
												<span class="bg"></span>
											</a>
										</div>
									</div>
								</li>
								
							</ul>
							<ul class="item4 clearFloat">
								<li ng-repeat="(k,v) in initData.good.create">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="textUp">
											<span class="discount">
												￥<span>{{v.discountPrice}}</span>
											</span>
											<span class="originPrice">
											</span>
												￥<span>{{v.originPrice}}</span>
											</span>
										</div>
										<div class="textMid">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												{{v.productName}}
											</a>
										</div>
										<div class="textDown">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												<span class="userImg"></span>
												<span class="userComment">
													<span class="detail">“挺不错的，主要是方便”</span>
													<span class="repute">共有26295条评论 好评率98% >></span>
												</span>
												<span class="bg"></span>
											</a>
										</div>
									</div>
								</li>
								
							</ul>
							<ul class="item5 clearFloat">
								<li ng-repeat="(k,v) in initData.good.pop">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="textUp">
											<span class="discount">
												￥<span>{{v.discountPrice}}</span>
											</span>
											<span class="originPrice">
											</span>
												￥<span>{{v.originPrice}}</span>
											</span>
										</div>
										<div class="textMid">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												{{v.productName}}
											</a>
										</div>
										<div class="textDown">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												<span class="userImg"></span>
												<span class="userComment">
													<span class="detail">“挺不错的，主要是方便”</span>
													<span class="repute">共有26295条评论 好评率98% >></span>
												</span>
												<span class="bg"></span>
											</a>
										</div>
									</div>
								</li>
								
							</ul>
							<ul class="item6 clearFloat">
								<li ng-repeat="(k,v) in initData.good.digital">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="textUp">
											<span class="discount">
												￥<span>{{v.discountPrice}}</span>
											</span>
											<span class="originPrice">
											</span>
												￥<span>{{v.originPrice}}</span>
											</span>
										</div>
										<div class="textMid">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												{{v.productName}}
											</a>
										</div>
										<div class="textDown">
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												<span class="userImg"></span>
												<span class="userComment">
													<span class="detail">“挺不错的，主要是方便”</span>
													<span class="repute">共有26295条评论 好评率98% >></span>
												</span>
												<span class="bg"></span>
											</a>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</section>
				<section class="indexBuyAgain">
					<h3 class="subtitle">
						<span></span>
						买了又买
					</h3>
					<div class="box clearFloat">
						<dl class="beauty">
							<dt>极致美护</dt>
							<dd ng-class="clearFloat" ng-repeat="(k,v) in initData.buyAgain.beauty" ng-mouseenter='buyEnter($event);$event.stopPropagation();' ng-mouseleave='leave($event);$event.stopPropagation();' >
								<span class="tag">TOP{{k+1}}</span>
								<div class="pic">
									<a href="__APP__/ProductDetail?pid={{v.id}}">
										<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
									</a>
								</div>
								<div class="text">
									<div class="textUp">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											{{v.productName}}
										</a>
									</div>
									<div class="textMid">
										<span class="discount">
											￥<span>{{v.discountPrice}}</span>
										</span>
										<span class="originPrice">
											￥{{v.originPrice}}
										</span>
									</div>
									<div class="textDown">
										<span class="state">
											共 {{v.collectNumber}} 购买
											<br />
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												回头率2% >>
											</a>
										</span>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="snack">
							<dt>全球零食</dt>
							<dd  ng-repeat="(k,v) in initData.buyAgain.snack" ng-mouseenter='buyEnter($event);$event.stopPropagation();' ng-mouseleave='leave($event);$event.stopPropagation();' >
								<span class="tag">TOP{{k+1}}</span>
								<div class="pic">
									<a href="__APP__/ProductDetail?pid={{v.id}}">
										<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
									</a>
								</div>
								<div class="text">
									<div class="textUp">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											{{v.productName}}
										</a>
									</div>
									<div class="textMid">
										<span class="discount">
											￥<span>{{v.discountPrice}}</span>
										</span>
										<span class="originPrice">
											￥{{v.originPrice}}
										</span>
									</div>
									<div class="textDown">
										<span class="state">
											共 {{v.collectNumber}} 购买
											<br />
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												回头率2% >>
											</a>
										</span>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="create">
							<dt>创意生活</dt>
							<dd ng-class="clearFloat" ng-repeat="(k,v) in initData.buyAgain.create" ng-mouseenter='buyEnter($event);$event.stopPropagation();' ng-mouseleave='leave($event);$event.stopPropagation();' >
								<span class="tag">TOP{{k+1}}</span>
								<div class="pic">
									<a href="__APP__/ProductDetail?pid={{v.id}}">
										<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
									</a>
								</div>
								<div class="text">
									<div class="textUp">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											{{v.productName}}
										</a>
									</div>
									<div class="textMid">
										<span class="discount">
											￥<span>{{v.discountPrice}}</span>
										</span>
										<span class="originPrice">
											￥{{v.originPrice}}
										</span>
									</div>
									<div class="textDown">
										<span class="state">
											共 {{v.collectNumber}} 购买
											<br />
											<a href="__APP__/ProductDetail?pid={{v.id}}">
												回头率2% >>
											</a>
										</span>
									</div>
								</div>
							</dd>
						</dl>
					</div>
				</section>
				<section class="indexDarkHorse">
					<h3 class="subtitle">
						<span></span>
						新品黑马
					</h3>
					<div class="box">
						<ul class="clearFloat">
							<li ng-repeat="(k,v) in initData.darkHorse">
								<div class="pic">
									<a href="__APP__/ProductDetail?pid={{v.id}}">
										<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
									</a>
								</div>
								<div class="text">
									<div class="textUp">
										<span class="discount">
											￥<span>{{v.discountPrice}}</span>
										</span>
										<span class="originPrice">
											￥<span>{{v.originPrice}}</span>
										</span>
									</div>
									<div class="textMid">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											{{v.productName}}
										</a>
									</div>
									<div class="textDown">
										<span class="recommend">
											推荐理由：
											<br />
											<span>“清凉一夏好味道”</span>
										</span>
										<span class="bg"></span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<div class="indexTitle">
					<p>今日特卖·闪购</p>
				</div>
				<section class="indexSale clearFloat">
					<h2 class="title">
						<span class="text1">
							今日闪购
						</span>
						<span class="text2">
							每天都有惊喜最低5折
						</span>
					</h2>
					<div class="box">
						<div class="salelist">
							<ul ng-repeat="(k,v) in initData.sale.today">
								<li class="clearFloat">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="countdown">
											距离闪购结束
											<span class="hour">{{hour}}</span>
											<span class="colon">:</span>
											<span class="min">{{minute}}</span>
											<span class="colon">:</span>
											<span class="sec">{{secound}}</span>
										</div>
										<div class="textUp">
											<span class="text1">
												{{v.discountRate}}折<a href="__APP__/ProductDetail?pid={{v.id}}">{{v.productName}}</a>
											</span>
											<span class="text2">
												{{v.productName.substr(16,10)}}
											</span>
										</div>
										<div class="textMid">
											<span class="discount">
												￥<span>{{v.discountPrice}}</span>
											</span>
											<span class="originPrice">
												￥{{v.originPrice}}
											</span>
										</div>
										<div class="textDown">
											<a href="__APP__/ProductDetail?pid={{v.id}}">立即抢购</a>
											<span class="countBuy">
												<span>{{v.collectNumber}}</span>人购买
											</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="foreshow">
							<div class="foreshowTitle">
								闪购预告
								<p>(明晚 20:00 火爆开售)</p>
							</div>
							<ul>
								<li class="clearFloat"  ng-repeat="(k,v) in initData.sale.tomorrow">
									<div class="pic">
										<a href="__APP__/ProductDetail?pid={{v.id}}">
											<img ng-src="{{v.productShowPicUrl}}" alt="达令" />
										</a>
									</div>
									<div class="text">
										<div class="textUp">
											{{v.discountRate}}折
											<a href="__APP__/ProductDetail?pid={{v.id}}">{{v.productName}}</a>
										</div>
										<div class="textMid">
											{{v.productName+v.productName+v.productName}}
										</div>
										<div class="textDown">
											<button class="collect" ng-click='collect(v.id)'>收藏</button>
											<button class="joinTrolley" ng-click='joinTrolley(v.id,$event,v.productShowPicUrl)' >加入购物车</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="asideBar">
			<include file='Public:aside' />
		</div>
		<div class="footer">
			<include file='Public:footer' />
		</div>
	</body>
	<script type="text/javascript" src="__ROOT__/Index/Common/js/index.js"></script>
	<script type="text/javascript" src="__ROOT__/Index/Common/js/aside.js"></script>
</html>
